
body {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid #ebeced;
    height: 67px;
}

.home, .historia, .vida-noturna, .participantes {
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 8px;
    font-size: 18px;

}

.home:hover, .historia:hover, .vida-noturna:hover, .participantes:hover {
    background-color: #ebeced;
    border-bottom: 2px solid black;
}

a:link, a {
    text-decoration: none;
    color: black;
}

.home-page {
    height: 1500px;
}

.home-box-h1 {
    height: 100px;
    background-color: #ebeced;
    display: flex;
    justify-content: center;
}

.box-1, .box-2, .box-3 {
    display: flex;
    justify-content: center;
    margin-top: 4%;
}


#img1, #img2, #img3 {
    width: 22%;
    border-radius: 22px;
    height: 325px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 30%);
}

.text1, .text2, .text3 {
    width: 27%;
    text-align: justify;
    margin-left: 23px;
}

.newsletter{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}

.news-title{
    padding: 0px 20px 0px 10px;
    color: #fff;
}

.email{
    padding: 10px;
    width: 340px;
    outline: none;
}

.btn-email{
    border: none;
    padding: 13px 20px;
    border-radius: 8px;
    background: #28a745;
    color: #fff;
}

.flex-grid{
    display: grid;
    justify-content: center;
}

.flex-center{
    display: flex;
    justify-content: center;
}

.footer{
    background: #37454d;
}
